.before_after{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slideshow_container{
    grid-column: 2;
    width: 100%;
    margin: 0;
    width: 100%;
}

.contact_us_link a{
    text-decoration: none;
    color: black;
}